[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "public"]
	path = public
	url = git@github.com:economikit-alliance/economikit-alliance.github.io.git
	branch = master
[submodule "themes/ek"]
	path = themes/ek
	url = git@github.com:economikit-alliance/web-design.git
